:root {
  --max-width: 62.1875rem;
  --padding: 0 1.875rem;
}

html,body{
  overflow-x: hidden;
  margin: 0;
}

*{
  box-sizing: border-box;
}

.post-container{
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

nav {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #dbdbdb;
  background-color: white;
  z-index: 1;
}

.nav-container {
  max-width: var(--max-width);
  padding: var(--padding);
  display: flex;
  justify-content: flex-start;
  flex: 1 1 auto;
  align-items: center;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}

.nav-title {
  font-size: 1.65em;
  font-weight: bold;
}

.container {
  padding: var(--padding);
  padding-top: 2.5rem;
  margin-top: 4.375rem;
}

.bio-container {
  max-width: var(--max-width);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.profile-picture {
  display: flex;
  flex: 1 1 9.375rem;
}

.profile-info {
  flex: 2 1 30px;
}

#prof-pic {
  flex: 1 1 9.375rem;
  width: 9.375rem;
  height: 9.375rem;
  clip-path: circle();
  background-color: #dbdbdb;
}

.profile-summary {
  display: flex;
  flex-direction: column;
  line-height: 24px;
}

.name {
  font-weight: 300;
  line-height: 32px;
  margin: 0;
  margin-bottom: 1.25rem;
}

.profile-engagement {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.bold {
  font-weight: 700;
}

a{
    text-decoration: none;
    font-weight: 700;
}

li:not(:last-child) {
  margin-right: 2.5rem;
}

#photo-container{
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.3125rem, max-content));
  row-gap: 1.75rem;
  column-gap: 1.75rem;
  justify-content: center;
}

.img-wrapper{
  width: 18.3125rem;
  height: 18.3125rem;
  display: flex;
  position: relative;
}

.img-wrapper img{
  width: 100%;
  height: 100%;
}

.img-info-wrapper{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.img-info-wrapper::after{
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.visible{
  opacity: 1;
}

.img-info-wrapper.visible::after{
  opacity: 0.5;
}

.like-image-wrapper, .comment-image-wrapper{
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.like-wrapper > *:first-of-type,
.comment-wrapper > *:first-of-type {
  margin-right: 0.625rem;
}

.like-wrapper, .comment-wrapper{
  display: flex;
  color: white;
  align-items: center;
  z-index: 1;
}

@media screen and (max-width: 521px){ 
  .bio-container{
    flex-direction: column;
  }
  #prof-pic{
    flex: none;
  }
  .bio-container > .profile-picture {
    margin-bottom: 2.5rem;
  }
}
@media (max-width: 375px){
  #photo-container {
    grid-template-columns: repeat(auto-fit, minmax(16.25rem, max-content));
  }
}